<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <table>
       <tbody>
       {% for item in item_list %}
       <tr>
           <td>{{ item.id }}</td>
           <td>
               {{ item.name }}<br/>
               {{ item.price }}<br/>
               {{ item.desc }} </td>
           <td>{{ item.updated_at }}</td>
       </tr>
       {% endfor %}
       </tbody>

       <form action="" method="post" enctype="multipart/form-data">
           {% csrf_token %}
           <table>
               {{ form.as_table }}
           </table>
           <input type="submit" />
       </form>
   </table>
</body>
</html>